// you can change colors here
// $theme-color: #096dd9;
@font-face {
  font-family: "iconfont-intro"; /* Project id  */
  src: url("http://cdn.zesionlee.com//lib/fonts/iconfonts/iconfont.ttf")
    format("truetype");
}

.iconfont-intro {
  font-family: "iconfont-intro" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-phone:before {
  content: "\e64e";
}

.icon-email:before {
  content: "\e62d";
}

.icon-phone1:before {
  content: "\e62c";
}

.icon-github:before {
  content: "\e620";
}

.icon-phone2:before {
  content: "\e60b";
}

.icon-mail_:before {
  content: "\e662";
}

.icon-gitee:before {
  content: "\e601";
}
